.authentication-container {
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin: 30px auto;
}

@media screen and (max-width: 800px) {
  .authentication-container {
    flex-direction: column;
    row-gap: 45px;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    align-items: center;
  }
}
